.content-produto{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 70px;
}

.content-produto h1{
    font-size: 55px;
    color: rgb(235, 233, 233);
}

.content-produto h3{
font-size: 35px;
color: purple;
margin-left: 20px;
}
.content-produto h4{
    font-size: 22px;
text-decoration: underline;
color: rgb(148, 145, 145);
margin-left: 22px;
}
.content-button{
    display: grid;
    justify-content: center;
}

.content-button a{
text-decoration: none;
font-size: 22px;
margin-top: 30px;
border: 2px solid purple;
background-color: purple;
color: white;
border-radius: 10px;
padding: 10px 50px 10px 50px;
animation: button-buy 1.3s infinite ease-in-out;
}
.content-button a:hover{
    
}

@keyframes button-buy {
    0%{
font-size: 22px;
    }
    40%{
        font-size: 25px;
    }
    
    100%{
        font-size: 22px;
    }
}

.foto img{
    max-width: 1100px;
    border-radius: 5px;
}